<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>

angular.module('myApp', [])
.controller('myCtrl', ['$scope', function($scope) {
    $scope.today = new Date();
    $scope.name = "admin";
    $scope.values_1 = [];
    $scope.especialidades = ["Cardiologista", "Oftalmologista", "Dermatologista","Dermatologista", "Neurologista"];
    $scope.users = ["user1", "user2", "user3", "user4", "user5"];
    $scope.value1 = 0;
    $scope.value2 = 0;
    $scope.count = 0;
    $scope.bool = 1;
    $scope.selectedType = "";
    $scope.myFunc = function() {
        $scope.count++
    };
    $scope.clear = function() {
        alert("Calendário reinicializado.");
        $scope.bool = 0;
    };
}])

</script>
<body ng-app='myApp' ng-controller='myCtrl'>

<div>

<h1>Doctor Planning</h1>
<h2>Bem vindo, administrador {{name}}.</h2>

<p>A atual agenda da semana é:</p>

</div>

<br/>
<link rel="stylesheet" type="text/css" href="calendar.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table>
  <thead>
    <tr>
      <th class="begin">
        <span class="long" class='center'> {{today | date: "MMMM"}} </span>
        <br/>
        <span class="long" class='center'> {{today | date: "y"}} </span>
      </th>
      <th>
        <span class="long">Segunda</span>
      </th>
      <th>
        <span class="long">Ter&ccedila</span>
      </th>
      <th>
        <span class="long">Quarta</span>
      </th>
      <th>
        <span class="long">Quinta</span>
      </th>
      <th>
        <span class="long">Sexta</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hour" rowspan="1"><span>9:00</span></td>
      <td ng-class="{'selected': value1 == 1 && value2 == 1}" ng-click="myFunc()">
         <div ng-if="value1 == 1 && value2 == 1">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 1}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 1">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 1}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 1">

        </div> </td>
      <td ng-class="{selected: bool == 1}" ng-click="myFunc()">
        <div ng-if="bool == 1">
            {{especialidades[0]}} </br>
            {{users[0]}}
        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 1}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 1">

        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>10:00</span></td>
      <td ng-class="{'selected': value1 == 1 && value2 == 2}" ng-click="myFunc()">
         <div ng-if="value1 == 1 && value2 == 2">

        </div>
      </td>
      <td ng-class="{selected: bool == 1}" ng-click="myFunc()">
        <div ng-if="bool == 1">
            {{especialidades[1]}} </br>
            {{users[1]}}
        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 2}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 2">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 2}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 2">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 2}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 2">

        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>11:00</span></td>
      <td ng-class="{selected: bool == 1}" ng-click="myFunc()">
        <div ng-if="bool == 1">
           {{especialidades[2]}} </br>
           {{users[2]}}
        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 3}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 3">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 3}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 3">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 3}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 3">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 3}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 3">

        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>12:00</span></td>
      <td class="unavailable" ng-click="myFunc()"></td>
      <td class="unavailable" ng-click="myFunc()"></td>
      <td class="unavailable" ng-click="myFunc()"></td>
      <td class="unavailable" ng-click="myFunc()"></td>
      <td class="unavailable" ng-click="myFunc()"></td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>13:00</span></td>
      <td ng-class="{'selected': value1 == 1 && value2 == 4}" ng-click="myFunc()">
         <div ng-if="value1 == 1 && value2 == 4">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 4}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 4">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 4}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 4">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 4}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 4">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 4}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 4">

        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>14:00</span></td>
      <td ng-class="{selected: bool == 1}" ng-click="myFunc()">
        <div ng-if="bool == 1">
           {{especialidades[3]}} </br>
           {{users[3]}}
        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 5}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 5">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 5}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 5">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 5}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 5">

        </div>
      </td>
      <td ng-class="{selected: bool == 1}" ng-click="myFunc()">
        <div ng-if="bool == 1">
           {{especialidades[4]}} </br>
           {{users[4]}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>15:00</span></td>
      <td ng-class="{'selected': value1 == 1 && value2 == 6}" ng-click="myFunc()">
         <div ng-if="value1 == 1 && value2 == 6">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 6}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 6">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 6}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 6">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 6}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 6">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 6}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 6">

        </div>
      </td>
    </tr>
    <tr>
      <td class="hour" rowspan="1"><span>16:00</span></td>
      <td ng-class="{'selected': value1 == 1 && value2 == 7}" ng-click="myFunc()">
         <div ng-if="value1 == 1 && value2 == 7">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 2 && value2 == 7}" ng-click="myFunc()">
         <div ng-if="value1 == 2 && value2 == 7">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 3 && value2 == 7}" ng-click="myFunc()">
       <div ng-if="value1 == 3 && value2 == 7">

        </div> </td>
      <td ng-class="{'selected': value1 == 4 && value2 == 7}" ng-click="myFunc()">
        <div ng-if="value1 == 4 && value2 == 7">

        </div>
      </td>
      <td ng-class="{'selected': value1 == 5 && value2 == 7}" ng-click="myFunc()">
         <div ng-if="value1 == 5 && value2 == 7">

        </div>
      </td>
    </tr>
  </tbody>
</table>

<button ng-click="clear()"> Excluir todas as consultas? </button>

</body>
</html>
