<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1, shrink-to-fit=no">
        {% if title %}
        <title>{{ title }} - DOCTOR PLANNING</title>
        {% else %}
        <title>Seja bem vindo ao Doctor Planning!</title>
        {% endif %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <hr>
        <hr>
	    <div class = "container-fluid">
            DOCTOR PLANING
            <a href="{{ url_for('index') }}"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Index
		    </button></a>

		    <a href="{{ url_for('login') }}"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Login
		    </button></a>

            <a href="{{ url_for('cadastro') }}"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cadastro
		    </button></a>

	    </div>
        <hr>
        <hr>
<!--
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
-->
        {% block content %}{% endblock %}
    </body>
</html>